/* Ionic core */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "@ionic/angular/css/palettes/dark.class.css";


body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-toolbar-background: #1e1e1e;
  --ion-toolbar-color: #ffffff;

  --ion-item-background: #121212;
  --ion-card-background: #1e1e1e;
}
