

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recipe Finder</ion-title>

  
    <ion-buttons slot="end">
      <ion-button (click)="openFavourites()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <p class="student-number">{{ studentNumber }}</p>

 
  <ion-searchbar
    placeholder="Enter ingredients (comma separated)"
    [(ngModel)]="ingredients">
  </ion-searchbar>

  <ion-item>
    <ion-label>Dietary Filter</ion-label>
    <ion-select [(ngModel)]="selectedDiet" placeholder="Any">
      <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
      <ion-select-option value="vegan">Vegan</ion-select-option>
      <ion-select-option value="gluten free">Gluten Free</ion-select-option>
    </ion-select>
  </ion-item>

 
  <ion-button expand="block" (click)="searchRecipes()">
    Search
  </ion-button>


  <ion-spinner *ngIf="loading" class="spinner"></ion-spinner>

 
  <ion-list *ngIf="recipes.length">
    <ion-item *ngFor="let recipe of recipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image">
      </ion-thumbnail>

      <ion-label>{{ recipe.title }}</ion-label>

      <ion-button slot="end" (click)="openDetails(recipe)">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

















































