











































<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recipe Finder</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFavourites()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 
  <ion-text color="medium">
    <p style="text-align:center">{{ studentNumber }}</p>
  </ion-text>

  
  <ion-item>
    <ion-label position="floating">
      Ingredients (comma separated)
    </ion-label>
    <ion-input [(ngModel)]="ingredients"></ion-input>
  </ion-item>

  
  <ion-button expand="block" (click)="searchRecipes()">
    Search
  </ion-button>

  <ion-spinner *ngIf="loading" style="display:block;margin:20px auto"></ion-spinner>

  
  <ion-list *ngIf="recipes.length">
    <ion-item *ngFor="let recipe of recipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image">
      </ion-thumbnail>

      <ion-label>{{ recipe.title }}</ion-label>

      <ion-button slot="end" (click)="openDetails(recipe)">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

-->













<!--<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Recipe Finder - {{ studentNumber }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-item>
    <ion-label>Diet</ion-label>
    <ion-select
      [(ngModel)]="selectedDiet"
      placeholder="Select diet"
    >
      <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
      <ion-select-option value="vegan">Vegan</ion-select-option>
    </ion-select>
  </ion-item>

 
  <ion-item>
    <ion-label>Intolerances</ion-label>
    <ion-select
      [(ngModel)]="dietFilters"
      multiple="true"
      placeholder="Select intolerances"
    >
      <ion-select-option value="gluten">Gluten-Free</ion-select-option>
      <ion-select-option value="dairy">Dairy-Free</ion-select-option>
    </ion-select>
  </ion-item>

  
  <ion-item>
    <ion-label position="floating">Ingredients (comma-separated)</ion-label>
    <ion-input [(ngModel)]="ingredients"></ion-input>
  </ion-item>


  <ion-button expand="block" (click)="searchRecipes()">
    Search
  </ion-button>

  <ion-list *ngIf="recipes.length > 0">
    <ion-item *ngFor="let recipe of recipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" />
      </ion-thumbnail>

      <ion-label>{{ recipe.title }}</ion-label>

      <ion-button slot="end" (click)="openDetails(recipe)">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="loading" class="loading-text">Loading...</div>

</ion-content> 

-->